.hor_menu ul {
    display: -webkit-flex;
    display: flex;
    padding-left: 0;
    list-style: none;
    width: 80%;
    align-self: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.hor_menu li {
    flex: 1 100px;
}

.hor_menu a {
    padding: 1em;
    display: block;
    font-family: Russo one, cursive;
    font-size: 15px;
    color: #c94204;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    border: 2px solid #FFAB51;
    background: rgba(252, 160, 62, 0.45);
    text-decoration: none;
    transition: 1
}

.hor_menu a:hover {
    background: #FFAB51;
}